* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Heading & Navigation style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

/* Banner style*/
.bannar {
    margin: 0 150px;
    align-items: center;
    display: flex;
}

.bannar-title {
    font-weight: 700;
    font-size: 85px;
}

.sub-bannar-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.bannar-status {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
}

/* About section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    margin-bottom: 30px;
    font-size: 35px;
}

.section-description {
    color: #757575;
    font-size: 18px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.about-info {}

.about .about-title {
    font-size: 18px;
    color: #585858;
}

.about-description {
    /* font-weight: 700; */
    font-size: 16px;
    color: #726e66;
}
/* What I do style */
.what-i-do {
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
}

.i-do-title {
    margin-top: 208px;
    font-size: 35px;
}

.i-do-info {
    color: #757575;
    margin-top: 30px;
    margin-bottom: 50px;
}


